
  $primary : red;
  $secondary: blue;
  $width : 50%;

  body {
    background: #fff;

    p{
        color:$primary;
    }

    span{
        color: $primary;
    }

    .modal-view{
        color: $secondary;
    }

    
  }

